/* CSS document*/
body

{
font-family:"Georgia";
font-size:30px;


p.one {
    
    text_indent: 80px
    border-top: 6px solid red
    border-bottom: 6px solid red;
    background-color: lightgrey;
}

p.two {
    
    text-indent: 80px
    border-top: 6px solid red
    border-bottom: 6px solid red;
    background-color: lightgrey;
   
}
    
}
